
API/obj/

API/bin/Debug/netcoreapp2.2/

Application/bin/Debug/netstandard2.0/

Application/obj/

Domain/bin/Debug/netstandard2.0/

Domain/obj/Debug/netstandard2.0/

Domain/obj/

Persistence/bin/Debug/netstandard2.0/

Persistence/obj/Debug/netstandard2.0/

Persistence/obj/

.vscode/
